.yt__container {
    position: relative; 
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    border: none;
}

.yt__overlay {
    position: absolute; 
    height: 100%;
    width: 100%;
    z-index: 3;
    background: transparent; 
}

.project-img {
    cursor: pointer;
}

