.terminal {
  &__blinking-cursor {
    animation: 1s blink step-end infinite;
    padding: 0 0.3rem 0 0.3rem;

    background: #2eb82e;
  }

  &__input-text {
    color: #2eb82e;
    font-size: $size-4;
    padding-top: 3rem;
    margin-left: 3rem;
  }

  &__output-text {
    color: #6699ff;
    font-size: $size-4;
    margin-left: 3rem;

    &--link {
      color: #57c1a8;
    }

    &--link:hover {
      color: darken(#57c1a8, 10%);
    }

    &--error {
      color: #f65549;
    }
  }

  &__header {
    background-color: #e2e1e3;
    height: 2.8rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
    border-radius: 1rem 1rem 0 0;

    &__center {
      font-size: 1.2rem;
      margin: 0 auto;
      transform: translateX(-2.3rem);
      text-align: center;
    }
  }

  &__btn {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-left: 0.9rem;

    &--red {
      background-color: #f96256;
      border: 0.1rem solid #f65549;
    }
    &--yellow {
      background-color: #fdbc3d;
      border: 0.1rem solid #ffb524;
    }
    &--green {
      background-color: #33c948;
      border: 0.1rem solid #2dbb41;
    }
  }

  &__window {
    box-shadow: 0 5rem 10rem rgba(50, 50, 93, 0.15),
      0 1.5rem 3.5rem rgba(50, 50, 93, 0.2), 0 0.5rem 1.5rem rgba(0, 0, 0, 0.12);
    background-color: #0f2a34;
    height: 60rem;
  }
}
